name: pure_result
description: "A sealed Result type for Dart/Flutter inspired by Kotlin and Swift."
version: 0.0.1
homepage:

environment:
  sdk: ^3.10.8
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
