name: pure_result
description: "A sealed Result type for Dart/Flutter inspired by Kotlin and Swift."
version: 0.1.0
homepage:

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  mutation_test: ^1.8.0

flutter:
